* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-family: "Mulish";
  overflow-x: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

a,
li {
  list-style: none;
  text-decoration: none; }

header {
  position: fixed;
  width: 100vw;
  z-index: 3; }
  header .menu-button {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 30px;
    height: 30px;
    z-index: 4;
    cursor: pointer; }
    header .menu-button_burgar {
      position: absolute;
      top: 0.5px;
      right: 0;
      width: 28px;
      height: 3px;
      background-color: black; }
      header .menu-button_burgar::before {
        content: '';
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background-color: black; }
      header .menu-button_burgar::after {
        content: '';
        position: absolute;
        top: 8px;
        width: 24px;
        height: 3px;
        background-color: black; }
      header .menu-button_burgar.open {
        transition: all 0.4s ease-in-out;
        transform: rotate(720deg);
        background: transparent; }
        header .menu-button_burgar.open::before {
          transition: all 0.4s ease-in-out;
          background-color: red;
          transform: rotate(45deg) translate(6px, 8px); }
        header .menu-button_burgar.open::after {
          transition: all 0.4s ease-in-out;
          width: 28px;
          background-color: red;
          transform: rotate(-45deg) translate(3px, -6px); }
    @media screen and (min-width: 768px) {
      header .menu-button {
        visibility: hidden; } }
  header .nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    visibility: hidden; }
    header .nav.open {
      visibility: visible; }
    header .nav_menu {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      height: 100vh;
      width: 100%;
      background-color: black;
      color: #fff;
      opacity: 0.91;
      transition: all 0.4s ease-in-out;
      transform: translateY(-100%);
      z-index: 20; }
      header .nav_menu.open {
        transition: all 0.4s ease-in-out;
        transform: translateY(0); }
      header .nav_menu .nav_menu_list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap; }
        @media screen and (min-width: 768px) {
          header .nav_menu .nav_menu_list {
            flex-flow: row wrap; } }
      header .nav_menu_item {
        margin-top: 15px;
        padding: 6px 30px 6px 15px;
        border-radius: 20px;
        width: 7rem;
        transition: all 0.4s ease-in-out;
        transform: translateX(100vw); }
        header .nav_menu_item_link {
          color: #fff;
          opacity: 0.5; }
        header .nav_menu_item.open {
          transition: all 0.4s ease-in-out;
          transform: translateX(0); }
        header .nav_menu_item_link:hover {
          transition: all 0.4s ease-in-out;
          opacity: 100%; }
        @media screen and (min-width: 768px) {
          header .nav_menu_item {
            transform: translateY(0);
            margin-top: 0;
            padding: 2px 10px 2px 10px;
            margin-right: 5px;
            width: max-content; }
            header .nav_menu_item:hover {
              background-color: transparent; }
            header .nav_menu_item_link {
              color: #000;
              opacity: 0.5; }
              header .nav_menu_item_link:hover {
                opacity: 100%;
                color: #000; } }
        @media screen and (min-width: 1024px) {
          header .nav_menu_item {
            margin-left: 35px; } }
      @media screen and (min-width: 768px) {
        header .nav_menu {
          width: 84vw;
          transform: translateY(0);
          height: max-content;
          flex-direction: row;
          justify-content: space-between;
          padding: 40px 0 25px 0;
          background-color: white;
          opacity: 100%;
          color: #000; } }
    header .nav.open {
      transition: all 0.4s ease-in-out;
      transform: translateY(0); }
    @media screen and (min-width: 768px) {
      header .nav {
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: white; } }

.nav_menu_item:nth-child(1) {
  transition-delay: 0.25s; }

.nav_menu_item:nth-child(2) {
  transition-delay: 0.35s; }

.nav_menu_item:nth-child(3) {
  transition-delay: 0.45s; }

.nav_menu_item:nth-child(4) {
  transition-delay: 0.55s; }

.nav_menu_item:nth-child(5) {
  transition-delay: 0.65s; }

.primary_button {
  margin-top: 80px;
  border-radius: 40px; }
  .primary_button button {
    padding: 12px 30px 12px 30px;
    background-color: #458FF6;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    position: relative; }
    .primary_button button:hover {
      transition: all 0.4s ease-in-out;
      background-color: #3772C2; }
    .primary_button button::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 4em;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.4s ease-in-out;
      box-shadow: 0 0 10px 40px #3772C2; }
    .primary_button button:active:after {
      box-shadow: 0 0 0 0 white;
      position: absolute;
      border-radius: 4em;
      left: 0;
      top: 0;
      opacity: 1;
      transition: 0s; }
    .primary_button button:active {
      top: 0; }
  @media screen and (min-width: 768px) {
    .primary_button button {
      width: 190px;
      height: 50px;
      padding: 12px 20px 12px 20px;
      border-radius: 55px;
      font-weight: 500;
      font-size: 16px;
      background: #458FF6; } }
  @media screen and (min-width: 1024px) {
    .primary_button button {
      width: 200px;
      height: 60px;
      border-radius: 55px;
      font-weight: 500;
      font-size: 18px;
      background: #458FF6; } }

.secondary_button {
  margin-top: 80px;
  border-radius: 40px; }
  .secondary_button button {
    padding: 12px 30px 12px 30px;
    background-color: #458FF6;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    position: relative; }
    .secondary_button button:hover {
      transition: all 0.4s ease-in-out;
      background-color: #3772C2; }
    .secondary_button button::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 4em;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.4s ease-in-out;
      box-shadow: 0 0 10px 40px #3772C2; }
    .secondary_button button:active:after {
      box-shadow: 0 0 0 0 white;
      position: absolute;
      border-radius: 4em;
      left: 0;
      top: 0;
      opacity: 1;
      transition: 0s; }
    .secondary_button button:active {
      top: 0; }
  @media screen and (min-width: 768px) {
    .secondary_button button {
      width: 190px;
      height: 50px;
      padding: 12px 20px 12px 20px;
      border-radius: 55px;
      font-weight: 500;
      font-size: 16px;
      background: #458FF6; } }
  @media screen and (min-width: 1024px) {
    .secondary_button button {
      width: 200px;
      height: 60px;
      border-radius: 55px;
      font-weight: 500;
      font-size: 18px;
      background: #458FF6; } }
  .secondary_button button {
    background-color: transparent;
    color: #458FF6;
    font-weight: 400;
    border: 2px solid #458FF6; }
    .secondary_button button:hover {
      background-color: transparent;
      border-color: #3772C2; }
    .secondary_button button span {
      margin-left: 10px;
      position: absolute;
      bottom: 19px;
      width: 20px; }

.logo_content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  margin-bottom: 50px; }
  .logo_content h1 {
    font-size: 24px; }
  .logo_content_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #458FF6;
    width: 41px;
    height: 41px;
    padding: 2;
    text-align: center;
    border-radius: 2rem;
    color: white; }
    .logo_content_circle strong {
      font-size: 26px; }
  @media screen and (min-width: 768px) {
    .logo_content {
      margin-bottom: 0; } }

.element {
  position: absolute;
  left: -20px;
  top: 1rem; }
  .element img {
    object-fit: contain;
    height: 100px;
    width: 100px; }
  @media screen and (min-width: 768px) {
    .element {
      position: absolute;
      left: -20px;
      top: 8rem; }
      .element img {
        object-fit: contain;
        height: 115px;
        width: 131px; } }

.main {
  overflow-x: hidden;
  z-index: 1;
  position: relative;
  top: 0;
  height: 100vh;
  width: 100vw; }
  .main_section {
    position: absolute;
    top: 8rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap; }
    .main_section_item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: start;
      flex-flow: column wrap;
      height: 40rem;
      text-align: center; }
      .main_section_item_text {
        padding: 0 10px 0 10px; }
        .main_section_item_text h1 {
          font-size: 20px;
          line-height: 50px; }
        .main_section_item_text h2 {
          margin-top: 20px;
          font-size: 16px;
          line-height: 26px;
          color: #7D7987; }
        @media screen and (min-width: 768px) {
          .main_section_item_text {
            width: 28rem;
            margin-top: 104px;
            text-align: start; }
            .main_section_item_text h1 {
              font-size: 25px;
              line-height: 36px;
              width: 14rem; }
            .main_section_item_text h2 {
              font-size: 16px;
              line-height: 27px;
              width: 16rem;
              color: #7D7987; } }
        @media screen and (min-width: 1024px) {
          .main_section_item_text {
            width: 446px;
            margin-top: 104px;
            text-align: start; }
            .main_section_item_text h1 {
              font-weight: 700;
              font-size: 48px;
              line-height: 56px;
              width: 426px; }
            .main_section_item_text h2 {
              font-weight: 500;
              font-size: 21px;
              line-height: 32px;
              color: #7D7987;
              width: 466px; } }
      .main_section_item_image {
        margin-top: 50px; }
        .main_section_item_image img {
          object-fit: contain;
          height: 20rem;
          width: 20rem; }
        @media screen and (min-width: 768px) {
          .main_section_item_image {
            margin-top: 0; }
            .main_section_item_image img {
              height: 25rem;
              width: 25rem; } }
        @media screen and (min-width: 1024px) {
          .main_section_item_image {
            margin-top: 0; }
            .main_section_item_image img {
              width: 693px;
              height: 598px; } }
      @media screen and (min-width: 768px) {
        .main_section_item {
          flex-flow: row;
          align-items: start;
          width: 90vw;
          justify-content: space-between; } }
      @media screen and (min-width: 1024px) {
        .main_section_item {
          flex-flow: row;
          align-items: start;
          width: 80vw;
          justify-content: space-between; } }
    @media screen and (min-width: 768px) {
      .main_section {
        margin-top: 2rem; } }

.service_section {
  margin-top: 150px;
  position: relative; }
  .service_section .shadow img {
    left: -100px;
    top: 14rem;
    position: absolute;
    z-index: -1;
    width: 580px;
    height: 380px; }
  @media screen and (min-width: 768px) {
    .service_section .shadow img {
      left: -150px;
      width: 60rem;
      height: 40rem; } }
  .service_section_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap; }
    .service_section_item_heading {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      text-align: center;
      padding: 0 6px 0 6px; }
      .service_section_item_heading h1 {
        font-weight: 700;
        font-size: 26px;
        line-height: 56px; }
      .service_section_item_heading hr {
        height: 1px;
        background-color: black;
        width: 3.6rem; }
      .service_section_item_heading h2 {
        padding: 0 20px 0 20px;
        text-align: center;
        margin-top: 35px;
        font-size: 16px;
        line-height: 24px;
        color: #7D7987; }
      @media screen and (min-width: 768px) {
        .service_section_item_heading {
          width: 64vw; }
          .service_section_item_heading h1 {
            font-weight: 700;
            font-size: 36px;
            line-height: 100px; }
          .service_section_item_heading h2 {
            padding: 0;
            font-weight: 300;
            font-size: 18px;
            line-height: 30px;
            /* or 167% */
            text-align: center;
            color: #7D7987;
            mix-blend-mode: normal; } }
    .service_section_item_container {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 100%;
      max-width: 100vw; }
      .service_section_item_container_slide {
        margin: 0 30px;
        overflow: hidden;
        padding: 40px 15px 45px 15px; }
      .service_section_item_container .card {
        display: flex;
        justify-content: center;
        align-items: center; }
        .service_section_item_container .card_content {
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          display: flex;
          justify-content: center;
          align-items: center;
          justify-content: start;
          flex-flow: column wrap;
          padding-left: 10px;
          align-items: start;
          width: 250px;
          height: 254px;
          background: #FFFFFF;
          /* drop shadow */
          border-radius: 20px; }
          .service_section_item_container .card_content_image {
            margin-left: 10px; }
            .service_section_item_container .card_content_image img {
              object-fit: contain;
              height: 40px;
              width: 40px; }
            @media screen and (min-width: 768px) {
              .service_section_item_container .card_content_image {
                margin-left: 20px; }
                .service_section_item_container .card_content_image img {
                  object-fit: contain;
                  height: 90px;
                  width: 90px; } }
          .service_section_item_container .card_content div {
            margin-left: 10px;
            margin-top: 30px;
            width: 200px;
            margin-left: 20px; }
            .service_section_item_container .card_content div h2 {
              font-size: 16px;
              line-height: 46px; }
            .service_section_item_container .card_content div h3 {
              font-weight: 300;
              font-size: 13px;
              line-height: 25px;
              /* or 175% */
              color: #7D7987; }
            @media screen and (min-width: 768px) {
              .service_section_item_container .card_content div {
                margin-left: 20px;
                margin-top: 40px; }
                .service_section_item_container .card_content div h2 {
                  font-size: 24px;
                  line-height: 56px; }
                .service_section_item_container .card_content div h3 {
                  font-weight: 300;
                  font-size: 16px;
                  line-height: 28px;
                  /* or 175% */
                  color: #7D7987; } }
          @media screen and (min-width: 768px) {
            .service_section_item_container .card_content {
              width: 350px;
              height: 354px; } }
      @media screen and (min-width: 768px) {
        .service_section_item_container {
          max-width: 92vw; } }
    .service_section_item .swiper-navBtn:hover {
      color: #4070F4; }
    .service_section_item .swiper-navBtn {
      color: #6E93f7;
      transition: color 0.3s ease;
      display: none; }
      @media screen and (min-width: 768px) {
        .service_section_item .swiper-navBtn {
          display: block; } }
    .service_section_item .swiper-navBtn::before,
    .service_section_item .swiper-navBtn::after {
      font-size: 35px; }
    .service_section_item .swiper-button-next {
      right: -8px; }
    .service_section_item .swiper-button-prev {
      left: 0; }
    .service_section_item .swiper-pagination-bullet {
      background-color: #6E93f7;
      opacity: 1; }
    .service_section_item .swiper-pagination-bullet-active {
      background-color: #4070F4; }

.app_section {
  margin-bottom: 20px;
  margin-top: 10px; }
  .app_section_container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap; }
    .app_section_container_image {
      margin-top: 50px; }
      .app_section_container_image img {
        object-fit: contain;
        height: 20rem;
        width: 20rem; }
      @media screen and (min-width: 768px) {
        .app_section_container_image {
          margin-top: 0; }
          .app_section_container_image img {
            height: 25rem;
            width: 25rem; } }
      @media screen and (min-width: 1024px) {
        .app_section_container_image {
          margin-top: 0; }
          .app_section_container_image img {
            width: 693px;
            height: 598px; } }
    .app_section_container_text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      padding: 0 40px 0 40px;
      text-align: center; }
      .app_section_container_text h1 {
        font-size: 20px;
        line-height: 50px; }
      .app_section_container_text hr {
        width: 50px;
        margin-top: 10px; }
      .app_section_container_text h2 {
        margin-top: 20px;
        font-size: 16px;
        line-height: 26px;
        color: #7D7987; }
    @media screen and (min-width: 768px) {
      .app_section_container {
        width: 90vw;
        flex-flow: row;
        justify-content: space-between;
        margin-top: 100px; }
        .app_section_container_image img {
          object-fit: contain;
          height: 25rem;
          width: 25rem; }
        .app_section_container_text {
          align-items: start;
          width: 28rem;
          text-align: start; }
          .app_section_container_text h1 {
            width: 15rem;
            font-size: 25px;
            line-height: 36px; }
          .app_section_container_text hr {
            margin-top: 15px; }
          .app_section_container_text h2 {
            font-size: 16px;
            line-height: 27px;
            width: 22rem;
            color: #7D7987; } }
    @media screen and (min-width: 1024px) {
      .app_section_container {
        width: 80vw;
        margin-top: 200px; }
        .app_section_container_image img {
          object-fit: contain;
          width: 650px;
          height: 477px; }
        .app_section_container_text {
          margin-left: 80px;
          align-items: start;
          width: 28rem;
          text-align: start; }
          .app_section_container_text h1 {
            font-weight: 700;
            font-size: 36px;
            line-height: 56px;
            width: 355px; }
          .app_section_container_text hr {
            margin-top: 25px; }
          .app_section_container_text h2 {
            font-weight: 300;
            font-size: 18px;
            line-height: 30px; } }
  @media screen and (min-width: 768px) {
    .app_section {
      margin-top: 200px; } }

.testimonial_section {
  margin-top: 150px; }
  .testimonial_section_container {
    padding: 2px; }
    .testimonial_section_container_item {
      background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
      border-radius: 24px;
      color: white;
      width: 95vw;
      padding-bottom: 40px;
      position: relative; }
      .testimonial_section_container_item::after {
        content: url("../assets/Group.png");
        position: absolute;
        right: -45px;
        color: white;
        top: -16px; }
      .testimonial_section_container_item::before {
        content: url("../assets/element.png");
        position: absolute;
        left: -60px;
        z-index: -1;
        bottom: 20px; }
      .testimonial_section_container_item_title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        align-items: center;
        padding-top: 20px; }
        .testimonial_section_container_item_title h2 {
          font-size: 20px;
          line-height: 50px; }
        .testimonial_section_container_item_title hr {
          width: 50px;
          color: white;
          margin-top: 10px; }
        @media screen and (min-width: 768px) {
          .testimonial_section_container_item_title {
            padding-top: 60px; }
            .testimonial_section_container_item_title h2 {
              font-weight: 700;
              font-size: 36px;
              line-height: 48px; }
            .testimonial_section_container_item_title hr {
              width: 50px;
              color: white;
              margin-top: 20px; } }
      .testimonial_section_container_item .avatar {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        align-items: center; }
        .testimonial_section_container_item .avatar_content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column wrap;
          text-align: center; }
          .testimonial_section_container_item .avatar_content_image img {
            object-fit: contain;
            width: 133px;
            height: 133px; }
          .testimonial_section_container_item .avatar_content_name {
            margin-top: 15px; }
            .testimonial_section_container_item .avatar_content_name h2 {
              font-size: 18px;
              line-height: 30px; }
            .testimonial_section_container_item .avatar_content_name h3 {
              font-size: 16px;
              line-height: 30px; }
          @media screen and (min-width: 768px) {
            .testimonial_section_container_item .avatar_content {
              flex-flow: row wrap;
              justify-content: space-around;
              text-align: left;
              width: 28rem; }
              .testimonial_section_container_item .avatar_content_name {
                margin-top: 15px;
                margin-right: 50px; }
                .testimonial_section_container_item .avatar_content_name h2 {
                  font-weight: 700;
                  font-size: 22px;
                  line-height: 20px; }
                .testimonial_section_container_item .avatar_content_name h3 {
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 48px;
                  color: rgba(255, 255, 255, 0.85); } }
        .testimonial_section_container_item .avatar_comment {
          margin-top: 15px;
          text-align: center; }
          .testimonial_section_container_item .avatar_comment h4 {
            line-height: 20px;
            font-weight: 300;
            padding: 0 25px 0 25px;
            font-size: 14px; }
          @media screen and (min-width: 768px) {
            .testimonial_section_container_item .avatar_comment {
              margin-top: 15px;
              text-align: left;
              width: 417px; }
              .testimonial_section_container_item .avatar_comment h4 {
                font-weight: 400;
                font-size: 19px;
                line-height: 30px;
                color: rgba(255, 255, 255, 0.9); } }
        @media screen and (min-width: 768px) {
          .testimonial_section_container_item .avatar {
            flex-flow: row wrap;
            justify-content: space-around;
            width: 58rem; } }
      @media screen and (min-width: 768px) {
        .testimonial_section_container_item {
          width: 90vw;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column wrap; } }
      @media screen and (min-width: 1024px) {
        .testimonial_section_container_item {
          width: 80vw; } }

.article_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 100px; }
  .article_section_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap; }
    .article_section_heading h1 {
      font-weight: 700;
      font-size: 20px;
      line-height: 56px; }
    .article_section_heading hr {
      margin-top: 10px;
      width: 60px; }
    @media screen and (min-width: 768px) {
      .article_section_heading h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 56px; }
      .article_section_heading hr {
        margin-top: 20px;
        width: 60px; } }
  .article_section_container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    align-items: center; }
    .article_section_container_item {
      box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
      border-radius: 20px;
      width: max-content;
      padding-bottom: 30px; }
      .article_section_container_item_image {
        display: flex;
        justify-content: center;
        align-items: center; }
        .article_section_container_item_image img {
          border-radius: 20px 20px 0 0;
          object-fit: contain;
          width: 280px;
          height: 280px; }
      .article_section_container_item_text {
        width: 260px;
        padding-left: 30px;
        padding-right: 30px; }
        .article_section_container_item_text h3 {
          font-weight: 700;
          font-size: 18px;
          line-height: 32px; }
        .article_section_container_item_text h4 {
          margin-top: 10px;
          font-weight: 300;
          font-size: 15px;
          line-height: 28px;
          color: #7D7987; }
        .article_section_container_item_text h5 {
          margin-top: 10px;
          font-weight: 600;
          font-size: 17px;
          line-height: 28px;
          color: #4089ED; }
          .article_section_container_item_text h5 span {
            font-size: 17px;
            margin-left: 15px; }
      @media screen and (min-width: 768px) {
        .article_section_container_item {
          margin-top: 30px; }
          .article_section_container_item_image img {
            object-fit: contain;
            width: 369px;
            height: 246px; }
          .article_section_container_item_text {
            width: 270px;
            padding-left: 30px;
            margin-top: 30px; }
            .article_section_container_item_text h3 {
              font-weight: 700;
              font-size: 21px;
              line-height: 32px; }
            .article_section_container_item_text h4 {
              font-weight: 300;
              font-size: 16px;
              line-height: 28px;
              color: #7D7987; }
            .article_section_container_item_text h5 {
              font-weight: 600;
              font-size: 17px;
              line-height: 28px;
              color: #4089ED; }
              .article_section_container_item_text h5 span {
                font-size: 17px;
                margin-left: 15px; } }
    @media screen and (min-width: 768px) {
      .article_section_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
        margin-top: 50px; } }
    @media screen and (min-width: 1024px) {
      .article_section_container {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        width: 78vw; } }

.contact_section {
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 100px; }
  .contact_section_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column; }
    .contact_section_heading h2 {
      font-weight: 700;
      font-size: 36px;
      line-height: 45px; }
    .contact_section_heading hr {
      width: 40px;
      margin-top: 20px; }
    .contact_section_heading h3 {
      margin-top: 20px;
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
      color: #000000; }
  .contact_section_item {
    width: 80%;
    margin-top: 50px; }
    .contact_section_item form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column; }
      .contact_section_item form .input_field,
      .contact_section_item form .flex_container_input_field {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        align-items: start; }
        .contact_section_item form .input_field label,
        .contact_section_item form .flex_container_input_field label {
          margin-top: 40px;
          padding: 4px;
          letter-spacing: 1.5px;
          font-size: 16px;
          font-weight: 100; }
        .contact_section_item form .input_field input,
        .contact_section_item form .flex_container_input_field input {
          margin-top: 5px;
          width: 309px;
          padding: 10px 8px 10px 8px;
          border-radius: 5px;
          outline: none;
          font-size: 15px;
          letter-spacing: 1.5px;
          border: 1px solid black; }
        .contact_section_item form .input_field textarea,
        .contact_section_item form .flex_container_input_field textarea {
          margin-top: 5px;
          outline: none;
          border: 1px solid black;
          border-radius: 5px;
          padding: 10px 10px 10px 10px;
          font-size: 15px;
          letter-spacing: 1.5px;
          width: 309px;
          height: 202px;
          resize: none; }
      .contact_section_item form .flex_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap; }
    @media screen and (min-width: 768px) {
      .contact_section_item {
        width: 90%; }
        .contact_section_item form .input_field label {
          font-size: 16px; }
        .contact_section_item form .input_field input {
          width: 650px; }
        .contact_section_item form .input_field textarea {
          width: 650px; }
        .contact_section_item form .flex_container {
          flex-flow: row; }
          .contact_section_item form .flex_container_input_field {
            margin-left: 8px;
            margin-right: 8px; } }

.footer_section {
  position: relative;
  margin-top: 100px;
  width: 100vw;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%); }
  .footer_section::after {
    content: url("../assets/Group.png");
    position: absolute;
    left: -20px;
    color: white;
    bottom: -20px; }
  .footer_section::before {
    content: url("../assets/element.png");
    position: absolute;
    top: -50px;
    z-index: -1;
    right: 80px; }
  .footer_section_content {
    height: 50%;
    width: 80%; }
    .footer_section_content_item {
      margin-top: 20px; }
      .footer_section_content_item .logo_content_circle {
        background-color: white;
        color: #5B9BF3; }
      .footer_section_content_item h1 {
        color: white; }
      .footer_section_content_item h3 {
        margin-top: 20px;
        width: 391px;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF; }
      .footer_section_content_item h4 {
        margin-top: 40px;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF; }
      .footer_section_content_item ul {
        font-weight: 300;
        font-size: 18px;
        line-height: 38px;
        color: white; }
        .footer_section_content_item ul li {
          list-style: none;
          margin-top: 10px;
          cursor: pointer; }
          .footer_section_content_item ul li a {
            text-decoration: none; }
      .footer_section_content_item_title h2 {
        color: white;
        font-weight: 700;
        font-size: 20px;
        line-height: 60px; }
    @media screen and (min-width: 768px) {
      .footer_section_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 80px; } }
