@import 'config';


@function text-clr($color) {
    @if (lightness($color) > 50) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}

header {
    position: fixed;
    width: 100vw;
    z-index: 3;

    .menu-button {

        position: absolute;
        right: 2rem;
        top: 2rem;
        width: 30px;
        height: 30px;
        z-index: 4;
        cursor: pointer;



        &_burgar {
            position: absolute;
            top: 0.5px;
            right: 0;
            width: 28px;
            height: 3px;
            background-color: rgb(0, 0, 0);

            &::before {
                content: '';
                position: absolute;
                top: -8px;
                width: 28px;
                height: 3px;
                background-color: rgb(0, 0, 0);
            }

            &::after {
                content: '';
                position: absolute;
                top: 8px;
                width: 24px;
                height: 3px;
                background-color: rgb(0, 0, 0);
            }


            &.open {
                @include transition-ease;
                transform: rotate(720deg);
                background: transparent;

                &::before {
                    @include transition-ease;
                    background-color: red;
                    transform: rotate(45deg) translate(6px, 8px);
                }

                &::after {
                    @include transition-ease;
                    width: 28px;
                    background-color: red;
                    transform: rotate(-45deg) translate(3px, -6px);
                }

            }

        }


        @include media-md {
            visibility: hidden;
        }

    }


    .nav {
        position: sticky;
        top: 0;
        left: 0;
        width: 100vw;
        visibility: hidden;


        &.open {
            visibility: visible
        }


        &_logo {
            @include flex-container;
            justify-content: space-between;
            width: 160px;
            margin-bottom: 50px;

            h1 {
                font-size: 24px;
            }

            &_circle {
                @include flex-container;
                background-color: $primaryColor;
                width: 41px;
                height: 41px;
                padding: 2;
                text-align: center;
                border-radius: 2rem;
                color: white;

                strong {
                    font-size: 26px;
                }


            }


            @include media-md {
                margin-bottom: 0;

            }
        }


        &_menu {
            position: absolute;
            @include flex-container;
            flex-flow: column wrap;
            height: 100vh;
            width: 100%;
            background-color: rgb(0, 0, 0);
            color: text-clr(rgba(0, 0, 0, 0.833));
            opacity: 0.91;
            @include transition-ease;
            transform: translateY(-100%);
            z-index: 20;


            &.open {
                @include transition-ease;
                transform: translateY(0);
            }


            .nav_menu_list {
                @include flex-container;
                flex-flow: column wrap;



                @include media-md {
                    flex-flow: row wrap;
                }

            }

            &_item {
                margin-top: 15px;
                padding: 6px 30px 6px 15px;
                border-radius: 20px;
                width: 7rem;

                @include transition-ease;
                transform: translateX(100vw);

                &_link {

                    color: text-clr(rgba(0, 0, 0, 0.833));
                    opacity: 0.5;
                }


                &.open {
                    @include transition-ease;
                    transform: translateX(0);
                }

                &_link:hover {
                    @include transition-ease;
                    opacity: 100%;
                }


                // Nav_Item Media query in Medium devices
                @include media-md {
                    transform: translateY(0);
                    margin-top: 0;
                    padding: 2px 10px 2px 10px;
                    margin-right: 5px;
                    width: max-content;

                    &:hover {
                        background-color: transparent;
                    }

                    &_link {
                        color: text-clr(rgba(255, 255, 255, 0.833));
                        opacity: 0.5;

                        &:hover {
                            opacity: 100%;
                            color: #000;
                        }

                    }
                }

                // Nav_Item Media query in Large devices
                @include media-lg {
                    margin-left: 35px;
                }
            }




            //    Nav_Menu  ------> Media query in Medium devices
            @include media-md {
                width: 84vw;
                transform: translateY(0);
                height: max-content;
                flex-direction: row;
                justify-content: space-between;
                padding: 40px 0 25px 0;
                background-color: rgb(255, 255, 255);
                opacity: 100%;
                color: text-clr(rgba(255, 255, 255, 0.833));
            }

            //    Nav_Menu  ------> Media query in Large devices
            @include media-lg {}
        }


        &.open {
            @include transition-ease;
            transform: translateY(0);
        }




        @include media-md {
            visibility: visible;
            @include flex-container;
            height: 100px;
            background-color: white;
        }
    }





}


@for $i from 1 through 5 {
    .nav_menu_item:nth-child(#{$i}) {
        transition-delay: ($i * 0.1s) + 0.15s;
    }
}





// custom button with media query

.primary_button {
    @include custom-button;
}

.secondary_button {
    @include custom-button;

    button {
        background-color: transparent;
        color: #458FF6;
        font-weight: 400;
        border: 2px solid #458FF6;

        &:hover {
            background-color: transparent;
            border-color: #3772C2;
        }

        span {
            margin-left: 10px;
            position: absolute;
            bottom: 19px;
            width: 20px;
        }
    }
}



// Main section css goes here with media query
.element {
    position: absolute;
    left: -20px;
    top: 1rem;

    img {
        object-fit: contain;
        height: 100px;
        width: 100px;
    }

    @include media-md {
        position: absolute;
        left: -20px;
        top: 8rem;

        img {
            object-fit: contain;
            height: 115px;
            width: 131px;
        }
    }
}

.main {
    overflow-x: hidden;
    z-index: 1;
    position: relative;
    top: 0;
    height: 100vh;
    width: 100vw;


    &_section {
        position: absolute;
        top: 8rem;
        width: 100vw;
        @include flex-container;
        flex-flow: column wrap;


        &_item {
            position: relative;
            @include flex-container;
            justify-content: start;
            flex-flow: column wrap;
            height: 40rem;
            text-align: center;




            &_text {
                padding: 0 10px 0 10px;

                h1 {
                    font-size: 20px;
                    line-height: 50px;
                }

                h2 {
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 26px;
                    color: #7D7987;
                }


                @include media-md {
                    width: 28rem;
                    margin-top: 104px;
                    text-align: start;

                    h1 {
                        font-size: 25px;
                        line-height: 36px;
                        width: 14rem;
                    }

                    h2 {
                        font-size: 16px;
                        line-height: 27px;
                        width: 16rem;
                        color: #7D7987;
                    }
                }

                @include media-lg {
                    width: 446px;
                    margin-top: 104px;
                    text-align: start;

                    h1 {
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 56px;
                        width: 426px;
                    }

                    h2 {
                        font-weight: 500;
                        font-size: 21px;
                        line-height: 32px;
                        color: #7D7987;
                        width: 466px;
                    }
                }



            }


            &_image {
                margin-top: 50px;

                img {
                    object-fit: contain;
                    height: 20rem;
                    width: 20rem;
                }

                @include media-md {
                    margin-top: 0;

                    img {
                        height: 25rem;
                        width: 25rem;
                    }

                }

                @include media-lg {
                    margin-top: 0;

                    img {
                        width: 693px;
                        height: 598px;
                    }

                }



            }




            // Main_Section_Item media query goes here

            @include media-md {
                flex-flow: row;
                align-items: start;
                width: 90vw;
                justify-content: space-between;

            }

            @include media-lg {
                flex-flow: row;
                align-items: start;
                width: 80vw;
                justify-content: space-between;

            }
        }





        // Main_Section media query goes here

        @include media-md {
            margin-top: 2rem;
        }

    }

}



// Service section css goes here 


.service_section {
    margin-top: 150px;
    position: relative;

    .shadow {

        img {

            left: -100px;
            top: 14rem;
            position: absolute;
            z-index: -1;
            width: 580px;
            height: 380px;
        }

        @include media-md {

            img {
                left: -150px;
                width: 60rem;
                height: 40rem;
            }
        }
    }

    &_item {

        @include flex-container;
        flex-flow: column wrap;


        &_heading {

            @include flex-container;
            flex-flow: column wrap;
            text-align: center;
            padding: 0 6px 0 6px;

            h1 {
                font-weight: 700;
                font-size: 26px;
                line-height: 56px;
            }

            hr {
                height: 1px;
                background-color: black;
                width: 3.6rem;
            }

            h2 {
                padding: 0 20px 0 20px;
                text-align: center;
                margin-top: 35px;
                font-size: 16px;
                line-height: 24px;
                color: #7D7987;
            }



            @include media-md {
                width: 64vw;


                h1 {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 100px;
                }



                h2 {
                    padding: 0;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 30px;

                    /* or 167% */
                    text-align: center;

                    color: #7D7987;

                    mix-blend-mode: normal;
                }






            }

        }





        &_container {
            margin-top: 50px;
            margin-bottom: 50px;
            width: 100%;
            max-width: 100vw;



            &_slide {
                margin: 0 30px;
                overflow: hidden;
                padding: 40px 15px 45px 15px;
            }

            .card {
                @include flex-container;




                &_content {
                    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
                    @include flex-container;
                    justify-content: start;
                    flex-flow: column wrap;
                    padding-left: 10px;
                    align-items: start;
                    width: 250px;
                    height: 254px;
                    background: #FFFFFF;

                    /* drop shadow */

                    border-radius: 20px;


                    &_image {
                        margin-left: 10px;

                        img {
                            object-fit: contain;
                            height: 40px;
                            width: 40px;
                        }


                        @include media-md {
                            margin-left: 20px;

                            img {
                                object-fit: contain;
                                height: 90px;
                                width: 90px;
                            }
                        }

                    }

                    div {
                        margin-left: 10px;
                        margin-top: 30px;
                        width: 200px;
                        margin-left: 20px;

                        h2 {
                            font-size: 16px;
                            line-height: 46px;
                        }

                        h3 {
                            font-weight: 300;
                            font-size: 13px;
                            line-height: 25px;

                            /* or 175% */

                            color: #7D7987;
                        }


                        @include media-md {
                            margin-left: 20px;
                            margin-top: 40px;

                            h2 {
                                font-size: 24px;
                                line-height: 56px;
                            }

                            h3 {
                                font-weight: 300;
                                font-size: 16px;
                                line-height: 28px;

                                /* or 175% */

                                color: #7D7987;
                            }


                        }

                    }



                    @include media-md {
                        width: 350px;
                        height: 354px;
                    }


                }

                @include media-md {}


            }


            @include media-md {
                max-width: 92vw;
            }
        }



        .swiper-navBtn:hover {
            color: #4070F4;
        }

        .swiper-navBtn {
            color: #6E93f7;
            transition: color 0.3s ease;
            display: none;


            @include media-md {
                display: block;
            }

        }

        .swiper-navBtn::before,
        .swiper-navBtn::after {
            font-size: 35px;
        }

        .swiper-button-next {
            right: -8px;
        }

        .swiper-button-prev {
            left: 0;
        }

        .swiper-pagination-bullet {
            background-color: #6E93f7;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background-color: #4070F4;
        }

    }


}


// Apps section css goes here

.app_section {
    margin-bottom: 20px;
    margin-top: 10px;

    &_container {
        margin-top: 60px;
        @include flex-container;
        flex-flow: column wrap;

        &_image {
            margin-top: 50px;

            img {
                object-fit: contain;
                height: 20rem;
                width: 20rem;
            }

            @include media-md {
                margin-top: 0;

                img {
                    height: 25rem;
                    width: 25rem;
                }

            }

            @include media-lg {
                margin-top: 0;

                img {
                    width: 693px;
                    height: 598px;
                }

            }



        }

        &_text {
            @include flex-container;
            flex-flow: column wrap;
            padding: 0 40px 0 40px;
            text-align: center;

            h1 {
                font-size: 20px;
                line-height: 50px;
            }

            hr {
                width: 50px;
                margin-top: 10px;
            }

            h2 {
                margin-top: 20px;
                font-size: 16px;
                line-height: 26px;
                color: #7D7987;
            }
        }



        @include media-md {
            width: 90vw;
            flex-flow: row;
            justify-content: space-between;
            margin-top: 100px;



            &_image {

                img {
                    object-fit: contain;
                    height: 25rem;
                    width: 25rem;
                }
            }


            &_text {
                align-items: start;
                width: 28rem;
                text-align: start;

                h1 {
                    width: 15rem;
                    font-size: 25px;
                    line-height: 36px;
                }

                hr {
                    margin-top: 15px;
                }

                h2 {
                    font-size: 16px;
                    line-height: 27px;
                    width: 22rem;
                    color: #7D7987;
                }
            }
        }


        @include media-lg {
            width: 80vw;
            margin-top: 200px;

            &_image {

                img {
                    object-fit: contain;
                    width: 650px;
                    height: 477px;
                }
            }


            &_text {
                margin-left: 80px;
                align-items: start;
                width: 28rem;
                text-align: start;

                h1 {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 56px;
                    width: 355px;
                }

                hr {
                    margin-top: 25px;
                }

                h2 {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }


    }


    @include media-md {
        margin-top: 200px;
    }

}





// Testimonials section goes here


.testimonial_section {
    margin-top: 150px;

    &_container {
        padding: 2px;

        &_item {
            background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
            border-radius: 24px;
            color: white;
            width: 95vw;
            padding-bottom: 40px;

            &_title {
                @include flex-container;
                flex-flow: column wrap;
                align-items: center;
                padding-top: 20px;

                h2 {
                    font-size: 20px;
                    line-height: 50px;
                }

                hr {
                    width: 50px;
                    color: white;
                    margin-top: 10px;
                }


                @include media-md {
                    padding-top: 60px;

                    h2 {
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 48px;
                    }

                    hr {
                        width: 50px;
                        color: white;
                        margin-top: 20px;
                    }
                }
            }


            .avatar {
                margin-top: 50px;
                @include flex-container;
                flex-flow: column wrap;
                align-items: center;

                &_content {
                    @include flex-container;
                    flex-flow: column wrap;
                    text-align: center;

                    &_image {

                        img {
                            object-fit: contain;
                            width: 133px;
                            height: 133px;
                        }
                    }

                    &_name {
                        margin-top: 15px;

                        h2 {
                            font-size: 18px;
                            line-height: 30px;
                        }

                        h3 {
                            font-size: 16px;
                            line-height: 30px;
                        }
                    }



                    @include media-md {
                        flex-flow: row wrap;
                        justify-content: space-around;
                        text-align: left;
                        width: 28rem;

                        &_name {
                            margin-top: 15px;
                            margin-right: 50px;

                            h2 {
                                font-weight: 700;
                                font-size: 22px;
                                line-height: 20px;
                            }

                            h3 {
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 48px;
                                color: rgba(255, 255, 255, 0.85);
                            }
                        }
                    }


                }

                &_comment {
                    margin-top: 15px;
                    text-align: center;

                    h4 {
                        line-height: 20px;
                        font-weight: 300;
                        padding: 0 25px 0 25px;
                        font-size: 14px;
                    }





                    @include media-md {

                        margin-top: 15px;
                        text-align: left;
                        width: 417px;

                        h4 {
                            font-weight: 400;
                            font-size: 19px;
                            line-height: 30px;
                            color: rgba(255, 255, 255, 0.9);


                        }

                    }

                }


                @include media-md {
                    flex-flow: row wrap;
                    justify-content: space-around;
                    width: 58rem;
                }

            }


            @include media-md {
                width: 90vw;
                @include flex-container;
                flex-flow: column wrap;

            }

            @include media-lg {
                width: 80vw;
            }
        }





    }
}


// Article section goes here


.article_section {
    @include flex-container;
    flex-flow: column wrap;
    margin-top: 100px;

    &_heading {
        @include flex-container;
        flex-flow: column wrap;

        h1 {
            font-weight: 700;
            font-size: 20px;
            line-height: 56px;
        }

        hr {
            margin-top: 10px;
            width: 60px;
        }


        @include media-md {

            h1 {
                font-weight: 700;
                font-size: 36px;
                line-height: 56px;
            }

            hr {
                margin-top: 20px;
                width: 60px;
            }
        }
    }


    &_container {
        margin-top: 20px;
        @include flex-container;
        flex-flow: column wrap;
        align-items: center;

        &_item {
            box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
            border-radius: 20px;
            width: max-content;
            padding-bottom: 30px;

            &_image {
                @include flex-container;

                img {
                    border-radius: 20px 20px 0 0;
                    object-fit: contain;
                    width: 280px;
                    height: 280px;
                }
            }


            &_text {
                width: 260px;
                padding-left: 30px;
                padding-right: 30px;

                h3 {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 32px;
                }

                h4 {
                    margin-top: 10px;
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 28px;
                    color: #7D7987;
                }

                h5 {
                    margin-top: 10px;
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 28px;
                    color: #4089ED;

                    span {
                        font-size: 17px;
                        margin-left: 15px;
                    }
                }
            }


            @include media-md {
                margin-top: 0;

                &_image {
                    img {
                        object-fit: contain;
                        width: 369px;
                        height: 246px;
                    }
                }

                &_text {
                    width: 270px;
                    padding-left: 30px;
                    margin-top: 30px;

                    h3 {
                        font-weight: 700;
                        font-size: 21px;
                        line-height: 32px;
                    }

                    h4 {
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 28px;
                        color: #7D7987;
                    }

                    h5 {
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 28px;
                        color: #4089ED;

                        span {
                            font-size: 17px;
                            margin-left: 15px;
                        }
                    }
                }
            }

        }


        @include media-md {
            @include flex-container;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            width: 90vw;
            margin-top: 50px;
            
        }

        @include media-lg {
            @include flex-container;
            justify-content: space-between;
            width: 78vw;
        }
    }

}